<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home_Page</title>
</head>
<body>
  <div class="home">
    <div class="landing">
        <div class="wrapper">
            <div class="carousel">
              <div class="content">
                <div class="item">
                  <div class="top">
                    <img
                      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/53/767668/1.jpg?8777"
                      height="180px"
                      width="180px"
                    />
                  </div>
                  <div class="bottom">
                    <h5>Product Name</h5>
                    <h6>Ksh 12999</h6>
                     
                  </div>
                </div>
                <div class="item">
                  <div class="top">
                    <img
                      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/53/767668/1.jpg?8777"
                      height="180px"
                      width="180px"
                    />
                  </div>
                  <div class="bottom">
                    <h5>Product Name</h5>
                    <h6>Ksh 12999</h6>
                  </div>
                </div>
                <div class="item">
                  <div class="top">
                    <img
                      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/53/767668/1.jpg?8777"
                      height="180px"
                      width="180px"
                    />
                  </div>
                  <div class="bottom">
                    <h5>Product Name</h5>
                    <h6>Ksh 12999</h6>
                     
                  </div>
                </div>
                <div class="item">
                  <div class="top">
                    <img
                      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/53/767668/1.jpg?8777"
                      height="180px"
                      width="180px"
                    />
                  </div>
                  <div class="bottom">
                    <h5>Product Name</h5>
                    <h6>Ksh 12999</h6>
                     
                  </div>
                </div>
                <div class="item">
                  <div class="top">
                    <img
                      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/53/767668/1.jpg?8777"
                      height="180px"
                      width="180px"
                    />
                  </div>
                  <div class="bottom">
                    <h5>Product Name</h5>
                    <h6>Ksh 12999</h6>
                     
                  </div>
                </div>
                <div class="item">
                  <div class="top">
                    <img
                      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/53/767668/1.jpg?8777"
                      height="180px"
                      width="180px"
                    />
                  </div>
                  <div class="bottom">
                    <h5>Product Name</h5>
                    <h6>Ksh 12999</h6>
                     
                  </div>
                </div>
                <div class="item">
                  <div class="top">
                    <img
                      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/53/767668/1.jpg?8777"
                      height="180px"
                      width="180px"
                    />
                  </div>
                  <div class="bottom">
                    <h5>Product Name</h5>
                    <h6>Ksh 12999</h6>
                     
                  </div>
                </div>
                <div class="item">
                  <div class="top">
                    <img
                      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/53/767668/1.jpg?8777"
                      height="180px"
                      width="180px"
                    />
                  </div>
                  <div class="bottom">
                    <h5>Product Name</h5>
                    <h6>Ksh 12999</h6>
                     
                  </div>
                </div>
                <div class="item">
                  <div class="top">
                    <img
                      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/53/767668/1.jpg?8777"
                      height="180px"
                      width="180px"
                    />
                  </div>
                  <div class="bottom">
                    <h5>Product Name</h5>
                    <h6>Ksh 12999</h6>
                     
                  </div>
                </div>
                <div class="item">
                  <div class="top">
                    <img
                      src="https://ke.jumia.is/unsafe/fit-in/680x680/filters:fill(white)/product/53/767668/1.jpg?8777"
                      height="180px"
                      width="180px"
                    />
                  </div>
                  <div class="bottom">
                    <h5>Product Name</h5>
                    <h6>Ksh 12999</h6>
                     
                  </div>
                </div>
              </div>
            </div>
            <button class="prev">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path
                  d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"
                />
              </svg>
            </button>
            <button class="next">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path
                  d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"
                />
              </svg>
            </button>
          </div>
    </div>
    <header>
        <h2>Popular Movies</h2>
    </header>
    <div class="movielist">
        
    <div  *ngFor="let movie of popularmovies">
        <div class="card">
            
            <div class="card-body">
                <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="not found" style="color:white" />
            </div>
            <div class="card-header">
                <h3>{{movie.title}}</h3>
            </div>
        </div>
        
    </div>
</div>
<header>
    <h2>Top Rated </h2>
</header>

<div class="movielist">
        
    <div  *ngFor="let movie of top_rated">
        <div class="card">
            
            <div class="card-body">
                <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="not found" style="color:white" />
            </div>
            <div class="card-header">
                <h3>{{movie.title}}</h3>
            </div>
        </div>
        
    </div>
</div>
<header>
    <h2>Upcoming </h2>
</header>

<div class="movielist">
        
    <div  *ngFor="let movie of upcoming">
        <div class="card">
            
            <div class="card-body">
                <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="not found" style="color:white" />
            </div>
            <div class="card-header">
                <h3>{{movie.title}}</h3>
            </div>
        </div>
        
    </div>
</div>

<header>
    <h2>Now Playing</h2>
</header>
<div class="movielist">
        
    <div  *ngFor="let movie of now_playing">
        <div class="card">
            
            <div class="card-body">
                <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="not found" style="color:white" />
            </div>
            <div class="card-header">
                <h3>{{movie.title}}</h3>
            </div>
        </div>
        
    </div>
</div>

</div>
<script src="assets/carousel.js"></script>
</body>
</html>
