h2{
    color:white
}
.movielist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
}
.card{
    /* border: 1px solid white; */
    margin: 10px;
    width: 250px;
    height: 70vh;
}
.card-body img{
    width: 100%;
    object-fit: cover;
    border-radius: 2%;
    height: 60vh;
}

.card-header{
    color: white;
}
